.container-nav{
     background: #f1f1f1;
     color: #151515; 
     display: flex;
     align-items: center;
     padding-left: 50px;
     border-radius: 20px;


     ul{
           display: flex;
           align-items: center;

           li{
               display: flex;
               align-items: center;
               margin: 20px 15px;

           }

          a{
                display: inline-block;
                 padding: 3px 0 ;
                 position: relative;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 color: #111;
                 font-size: 1.2rem;
                 &::after{ 
                      content:"";
                      transition: .5s ease ; 
                      position: absolute;
                      width: 0 ;
                      height: 3px;
                      background: rgb(41, 152, 176);
                      bottom: 0; 
                      opacity: 0; 
                      margin: 0 auto ;
                    //   transform: translateX(100%)
                    }
              
            
          }
     }
}


.nav-active{
      a{
           color: rgb(41, 152, 176);
      }
  
          &::after{
             width: 100%!important;
             opacity: 1!important; 
             
          }
           
}